<% include header.ejs %>
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Contacts</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <img src="/images/contacts.png">
        <p>You can contact us at email address: <strong>admin@taskbureau.com</strong></p>
      </div>
    </div>
  </div>


  <hr>
</main>
<% include footer.ejs %>
