<% include header.ejs %>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to Task Bureau Ltd</h1>
          <p>Qualified Nurses We are qualified professional registered nurses and managers with over 20 years working experience in the health and social care sectors. </p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Live In Care</h2>
            <img src="/images/social.jpg">
            <p>We will support you or a loved with intensive support and care in the comfort of your own home. Live-in care and companionship is ideal if you or a loved one needs more intensive support and care but wishes to remain at home. Your live in support worker will provide completely tailored one-on-one support and can offer housekeeping and other personal care services if needed. </p>

            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Nursing</h2>
            <img src="/images/nurse.png">
            <p>Registered nurses we provide experienced dedicated team of nurses with 6months+ working experience in health and social care sectors </p>
            <p><a class="btn btn-secondary" href="/jobs/nursing" role="button">View details &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Support Work</h2>
            <img src="/images/support.png">
            <p>We provide support work services with our dedicated members of staff.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <h2>Recruitment</h2>
            <p>Task Bureau Ltd offers fast and easy online registration, . A member of our recruitment team will contact you to discuss your work requirements and organise any documentation required to commence work. Your dedicated Recruitment Consultant will guide you through our registration process and handle any compliance requirements, so we can get you out working as soon as possible.</p>
            <p><a class="btn btn-secondary" href="#" role="button">More...</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

<% include footer.ejs %>
